<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Add a Customer</title>
</head>
<body>
<h1>Add a Customer</h1>
<form th:action="@{/customer}" method="post">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="number" name="phone" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
                <input type="reset" value="Clear" />
            </td>
        </tr>
    </table>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>